<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

  <!-- the application context definition for the springapp DispatcherServlet -->
  
  <!-- JSR-330 (@Inject) support will be detected on classpath and enabled automatically -->
  <mvc:annotation-driven/>

  <context:component-scan base-package="com.volvo.vplf.spring.controller, org.peter.web.w.controller" />

  <bean id="onStartup" class="com.volvo.vplf.spring.handler.StartupHandler" lazy-init="false" init-method="onStartup">
    <property name="prefix" value="/mvc/" />
    <property name="suffix" value="" />
  </bean>

  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
    <property name="prefix" value="/pages/" />
    <property name="suffix" value=".jsp" />
  </bean>

</beans>
